body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cat-img {
  height: 400px;
}

.cat-fact {
  font-family: Montserrat, sans-serif;
  font-size: 1rem;
  font-weight: 700;
  padding: 2rem;
}

.fetch {
  padding: 1rem;
  margin-top: 2rem;
}

/* #loading {
  width: 2rem;
  height: 2rem;
  border: 5px solid #f3f3f3;
  border-top: 6px solid #9c41f2;
  border-radius: 100%;
  margin: auto;
  visibility: hidden;
  animation: spin 1s infinite linear;
}
#loading.display {
  visibility: visible;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
